<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="user-profile site_title" style="background: #203040">
                <img src="~/public/imgs/favicon.jpg" alt="..." style="border-radius: 0; margin-right: 0px;">
                <span id="text-logo" style="font-size: 18px;line-height: 20px;">Plagiarism Detection</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/public/imgs/common/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Xin chào</span>
                <h2>#Name</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <ul class="nav side-menu" style="">
                    <li class="">
                        <a href="@Url.RouteUrl("DetectCode")"><i class="fa fa-search"></i>So sánh các mã nguồn</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
