
@{
    ViewBag.Title = "CompareDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Link = ViewBag.Link;
}
@section scripts{
    <script src="~/public/js/admin/detect-code/compare-detail.js"></script>
}
<h2>@Link</h2>

